<template>
  <div class="textinput">
        <div :class="{textinput__input: true, textinput__input_small: isSmall}" 
          contenteditable="true"
          @input="update" ref="input"
          @blur="$emit('blur')"
          @focus="$emit('focus')">
            <slot></slot>
        </div>
        <div :class="{textinput__placeholder: true, textinput__placeholder_small: isSmall}"
          v-show="showPlaceholder"
          v-text="placeholder"></div>
  </div>
</template>

<script>
export default {
  props: ['placeholder', 'value', 'size'],
  data() {
    return {
      text: ''
    }
  },
  mounted() {
    this.text = this.$refs.input.innerText
  },
  computed: {
    showPlaceholder() {
      return this.text.length === 0
    },
    isSmall() {
      return this.size === 'small'
    }
  },
  methods: {
    update() {
      this.text = this.$refs.input.innerText
      this.$emit('input', this.text)
    }
  },
  watch: {
    value(value) {
      if (value === '') {
        this.text = ''
        this.$refs.input.innerText = ''
      }
    }
  }
}
</script>

<style lang="scss">
.textinput {
  position: relative;

  &__input {
    outline: none;
    padding: 12px;
    min-height: 30px + 2*12px;

    &_small {
      padding: 5px;
      min-height: 20px + 2*5px;
    }
  }
  &__placeholder {
    position: absolute;
    top: 0;
    color: #828282;
    padding: 12px;

    &_small {
      padding: 5px;
    }
  }
}
</style>
