<template>
  <div class="comments" >
      <div class="comments__post">
        <PostComment
          :messageId="messageId"
          @sent="onSent" />       
      </div>
      <ul class="list-group">
        <MessageComment v-for="comment in comments"
          :key="comment.ID"
          :comment="comment" 
          :user="users[comment.UserID]"/>
      </ul>
  </div>
</template>

<script>
import MessageComment from './MessageComment'
import PostComment from './PostComment'

export default {
  props: ['messageId', 'comments', 'users'],
  components: { MessageComment, PostComment },
  data() {
    return {
      text: ''
    }
  },
  computed: {
    haveComments() {
      return this.comments.length > 0
    }
  },
  methods: {
    onSent() {
      this.$emit('commentSent')
    }
  }
}
</script>

<style lang="scss">
.comments {
  margin-bottom: 5px;
  font-size: 14px;

  &__post {
    background-color: #fff;
  }

  &__userimage {
    height: 20px;
    width: 20px;
    background-color: #f00;
  }
}
</style>
