<template>
  <div class="comment">
    <div class="comment__userphoto"></div>
    <router-link class="comment__info" :to="userLink">
      <span class="comment__fullname" v-text="fullName"></span>
      <span class="comment__login" v-text="atName"></span>
    </router-link>
    <span class="comment__time" v-text="time"></span>
    <p v-text="comment.Body"></p>
    <div class="comment__tags">
      <a href="#">#hello</a>
      <a href="#">#navsedengi</a>
      <a href="#">#together</a>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
export default {
  props: ['comment', 'user'],
  computed: {
    fullName() {
      return this.user.FirstName + ' ' + this.user.LastName
    },
    atName() {
      return '@' + this.user.Login
    },
    userLink() {
      return '/' + this.user.Login
    },
    time() {
      return moment.unix(this.comment.Date.seconds).fromNow()
    }
  }
}
</script>

<style lang="scss">
.comment {
  background-color: #fff;
  border-bottom: 1px solid #b6c7ca;
  font-size: 14px;
  padding: 5px 7px;

  &__userphoto {
    width: 20px;
    height: 20px;
    background-color: #f00;
    float: left;
    margin-right: 7px;
    color: #14171a;
  }

  &__info {
    color: #14171a;
    &:hover {
      color: #1da1f2;
      text-decoration: none;
    }
  }

  &__fullname {
    font-weight: bold;
  }
  &__login {
    color: #657786;
  }
  &__time {
    color: #657786;
  }

  &__tags {
    font-size: 12px;
  }
}
</style>
