<template>
  <div>
    <div class="message" @click="toggleComments">
      <div class="message__userphoto"></div>
      <div class="message__textblock">
        <router-link class="message__info" :to="userLink">
          <span class="message__fullname" v-text="fullName"></span>
          <span class="message__login" v-text="atName"></span>
        </router-link>
        <span class="message__time" v-text="date"></span>
        <p class="message__body" v-html="body"></p>
      </div>
      <div class="message__footer">
        <div class="message__action message__action_comments">
          <i class="far fa-comment"></i>
          <span class="comment__count" v-text="commentCount"></span>
        </div>
        <div class="message__action message__action_likes">
          <i class="far fa-heart"></i>
          <span class="comment__count" v-text="likeCount"></span>
        </div>
      </div>
    </div>
    <comments class="comments" :comments="comments" :users="users" :messageId="message.ID" @commentSent="onCommentSent" v-show="showComments"
    />

  </div>
</template>

<script>
  import moment from 'moment'
  import axios from 'axios'
  import api from '@/lib/api'
  import parser from '@/lib/parser'
  import comments from './Comments'

  export default {
    props: ['message', 'user'],
    components: {
      comments
    },
    data() {
      return {
        showComments: false,
        comments: [],
        users: {}
      }
    },
    computed: {
      date() {
        return moment.unix(this.message.Date.seconds).fromNow()
      },
      fullName() {
        return this.user.FirstName + ' ' + this.user.LastName
      },
      atName() {
        return '@' + this.user.Login
      },
      userLink() {
        return '/' + this.user.Login
      },
      commentCount() {
        return this.message.Comments ? this.message.Comments : 0
      },
      likeCount() {
        return 0
      },
      body() {
        // TODO: отображение тэгов
        return parser.parse(this.message.Body, (tag) => '<a href="' + tag + '">#' + tag + '</a>')
      }
    },
    methods: {
      loadComments: async function () {
        const r = await axios.get(api.messages.comments(this.message.ID))
        const comments = r.data.messages
        this.comments = comments ? comments.reverse() : []
        this.users = r.data.users
      },
      toggleComments() {
        this.showComments = !this.showComments

        // clear comments on close
        if (!this.showComments) {
          this.comments = []
          return
        }
        this.loadComments()
      },
      onCommentSent() {
        this.loadComments()
      }
    }
  }

</script>

<style lang="scss">
  .message {
    font-size: 14px;
    padding: 9px 12px;
    border-bottom: 1px solid #b6c7ca;
    cursor: pointer;
    background: #fff;
    &:hover {
      background-color: #f5f8fa;
    }

    &__userphoto {
      width: 40px;
      height: 40px;
      background-color: #f00;
      margin-right: 10px;
      float: left;
    }
    &__info {
      color: #14171a;
      &:hover {
        color: #1da1f2;
        text-decoration: none;
      }
    }
    &__fullname {
      font-weight: bold;
      white-space: nowrap;
    }
    &__login {
      color: #657786;
    }
    &__time {
      margin-left: 5px;
      color: #657786;
      white-space: nowrap;
    }
    &__body {
      color: #14171a;
      margin-bottom: 0;
      line-height: 20px;
    }
    &__footer {
      padding-top: 12px;
    }
    &__action {
      display: inline-block;
      width: 50px;

      &_comments {
        &:hover {
          color: #007bff;
        }
      }

      &_likes {
        &:hover {
          color: #dc3545;
        }
      }
    }
  }

  .comments {
    margin-left: 30px;
  }

</style>
