<template>
    <div  class="post">
        <div>
            <div class="post__userphoto float-left"></div>
            <div class="post__input">
              <TextInput placeholder="Что нового?"
                v-model="text"
                @blur="onPostBlur"
                @focus="onPostFocus"/>
            </div>
        </div>       
        <div v-show="showSend">
          <div class="post__hline"></div>
          <button class="post__sendbtn btn btn-outline-primary btn-sm float-right"
            :disabled="!canSend"
            @click="sendMessage">Отправить</button>
          <div class="clearfix"></div>
        </div>
    </div>
</template>

<script>
import TextInput from '@/components/messages/textinput/TextInput'
import api from '@/lib/api'
import axios from 'axios'
export default {
  components: { TextInput },
  data() {
    return {
      text: '',
      inFocus: false,
      canSend: true
    }
  },
  computed: {
    showSend() {
      return this.text !== '' || this.inFocus
    }
  },
  methods: {
    sendMessage() {
      const data = new FormData()
      data.append('text', this.text)
      this.canSend = false
      axios.post(api.messages.store, data).then(r => {
        this.$emit('sent')
        this.text = ''
        this.canSend = true
      }).catch(r => {
        this.canSend = true
      })
    },
    onPostBlur() {
      this.inFocus = false
    },
    onPostFocus() {
      this.inFocus = true
    }
  }
}
</script>

<style lang="scss">
.post {
  background-color: #fff;
  margin: 5px 0;
  font-size: 14px;

  &__userphoto {
    width: 30px;
    height: 30px;
    background-color: #f00;
    margin: 12px;
  }
  &__input {
    margin-left: 12px + 30px;
    margin-top: 5px;
    position: relative;
    height: 100%;
  }
  &__hline {
    height: 1px;
    background-color: #e9ecef;
    margin: 0 0 12px 0;
  }
  &__sendbtn {
    margin: 0 12px 12px 0;
  }
}
</style>
