<template>
  <div class="postcomment">
      <div>
        <div class="postcomment__userphoto float-left"></div>
        <TextInput class="postcomment__input" 
            placeholder="Ответить"
            size="small"
            v-model="text"
            @focus="onFocus"
            @blur="onBlur" />
      </div>
      <div class="clearfix" v-show="showSend">
          <div class="postcomment__hline"></div>
          <button class="postcomment__sendbutton btn btn-outline-primary btn-sm float-right"
            @click="sendComment"
            :disabled="sending"
          >Отправить</button>
      </div>
  </div>
</template>

<script>
import TextInput from '@/components/messages/textinput/TextInput'
import api from '@/lib/api'
import axios from 'axios'

export default {
  props: ['messageId', 'value'],
  components: { TextInput },
  data() {
    return {
      text: '',
      inFocus: false,
      sending: false
    }
  },
  computed: {
      showSend() {
          return this.inFocus || this.text !== ''
      }
  },
  methods: {
      onFocus() {
          this.inFocus = true
      },
      onBlur() {
          this.inFocus = false
      },
      sendComment() {
        const data = new FormData()
        data.append('text', this.text)
        this.sending = true
        axios.post(api.messages.storeComment(this.messageId), data).then(r => {
            this.sending = false
            this.text = ''
            this.$emit('sent')
        }).catch(r => {
            this.sending = false
        })
      }
  }
}
</script>

<style lang="scss">
.postcomment {
    margin-bottom: 3px;
    margin-top: 2px;

  &__userphoto {
    height: 20px;
    width: 20px;
    background-color: #f00;
    margin: {
        left: 7px;
        top: 5px;
        right: 5px;
        bottom: 5px;
    }
  }

  &__input {
      margin-left: 20px + 7px;
  }
  &__hline {
      height: 1px;
      background-color: #e9ecef;
  }
  &__sendbutton {
      margin: 5px;
  }
}
</style>
