<template> 
  <div id="app">
    <div class="container grid-lg">
      <Navbar />
      <div class="columns">
        <router-view/>
      </div>
    </div>    
  </div>
</template>

<script>
import Navbar from '@/components/navbar'
export default {
  name: 'App',
  components: {Navbar}
}
</script>
