<template>
    <form class="form-signin text-center">
      <h1 class="h3 mb-3 font-weight-normal">Вход</h1>
      <label for="inputLogin" class="sr-only">Логин</label>
      <input type="text" id="inputLogin" class="form-control" placeholder="Логин" required autofocus v-model="login">
      <label for="inputPassword" class="sr-only">Пароль</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required v-model="password">
      <button class="btn btn-lg btn-primary btn-block" type="submit" @click="tryLogin">Вход</button>
    </form>
</template>

<script>
import axios from 'axios'
import api from '@/lib/api'

export default {
  data() {
    return {
      login: '',
      password: ''
    }
  },

  methods: {
    tryLogin() {
      const data = new FormData()
      data.append('login', this.login)
      data.append('password', this.password)

      axios.post(api.auth.login, data).then(r => {
        const token = r.data.token
        axios.defaults.headers.common['Authorization'] = 'Bearer ' + token
      })
    },

    tsetToken(token) {
      const params = { token }
      axios.get(api.auth.check, { params }).then(r => {
        console.log('token ok')
      })
    }
  }
}
</script>

<style>
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type='email'] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type='password'] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
