<template>
  <div>
    <div class="messages__write">
      <PostMessage @sent="onSent" />
    </div>
    <div class="list-group">
      <message v-for="(message) in messages" :key="message.ID" :message="message" :user="users[message.UserID]"></message>
    </div>
  </div>
</template>

<script>
import Message from '@/components/messages/Message'
import PostMessage from '@/components/messages/PostMessage'
import axios from 'axios'
import api from '@/lib/api'

export default {
  components: {
    Message,
    PostMessage
  },
  data() {
    return {
      openComments: true,
      messages: [],
      users: {}
    }
  },
  mounted() {
    this.loadMessages()
  },
  methods: {
    loadMessages() {
      axios.get(api.messages.index).then(r => {
      this.messages = r.data.messages.reverse()
      this.users = r.data.users
    })
    },
    onSent() {
      this.loadMessages()
    }
  }
}
</script>

<style>

</style>
