<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <router-link class="navbar-brand" to="/">Chirrup</router-link>
    <ul class="nav mr-auto">
      <li class="nav-item">
          <router-link class="nav-link" to="/profile">Профиль</router-link>
      </li>
    </ul>
</nav>

</template>

<script>
export default {

}
</script>

<style>

</style>
