<template>
    <div class="card">
        <form class="card-body" >
        <h5 class="card-title">Профиль</h5>
        <div class="form-group">
            <label>Логин</label>
            <input type="text" class="form-control" placeholder="ivan" v-model="profile.login">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Пароль</label>
            <input type="password" class="form-control" placeholder="Пароль" v-model="profile.password">
        </div>
        <div class="form-group">
            <label>Имя</label>
            <input type="text" class="form-control" placeholder="Иван" v-model="profile.firstName">
        </div>
        <div class="form-group">
            <label>Фамилия</label>
            <input type="text" class="form-control" placeholder="Иванов" v-model="profile.lastName">
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>  
</template>

<script>
import api from '@/lib/api'
import axios from 'axios'

export default {
  data() {
    return {
      profile: {
        login: 'ivan',
        password: '',
        firstName: 'Иван',
        lastName: 'Иванов'
      }
    }
  },

  mounted() {
    axios.get(api.users.me).then(r => {
        let me = r.data
        this.profile = {
            login: me.Login,
            firstName: me.FirstName,
            lastName: me.LastName
        }
    })
  }
}
</script>

<style>

</style>
